html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #c60000;
  --underline-color: #55c3e6;
}

body {
  font-family: Arial;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  min-width: 600px;
  /*max-width: 1080px;*/
}

.logo {
  margin-top: 2em;
  margin-left: 3em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 6em;
}

.navbar a {
  color: var(--main-text-color);
  font-weight: bold;
  text-decoration: none;
  padding: .2em;
  border-bottom: .3em solid transparent;
}
.navbar a:hover {
  color: var(--main-text-color);
  padding: .2em;
  border-bottom: .3em solid var(--underline-color);
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}
.bg-image__main {
  width: 100%;
}
.bg-image__mouse {
  position: absolute;
  width: 23%;
  top: 35%;
  left: 51.5%;
}
.bg-image__fish {
  position: absolute;
  width: 12%;
  top: 35%;
  left: 65%;
}
.bg-image__fruit-fly {
  position: absolute;
  width: 8%;
  top: 25%;
  left: 72%;
}
.bg-image__frog {
  position: absolute;
  width: 20%;
  top: 38%;
  left: 75%;
}

.overview-card {
  position: absolute;
  width: 33%;
  background-color: #fff;
  opacity: .9;
  top: 25%;
  left: 10%;
  padding: 1.5em;
}
.overview-card h1 {
  color: var(--main-text-color);
}

.small-card-list {
  display: flex;
}

.small-card {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #e76841;
  font-size: .8em;
  font-weight: bold;
}
.small-card a:visited {
  color: #e76841;
}
