html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #c60000;
  --underline-color: #55c3e6;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  min-width: 600px;
  /*max-width: 1080px;*/
}

.logo {
  margin-top: 2em;
  margin-left: 3em;
}

.header {
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 6em;
}

.navbar a {
  color: var(--main-text-color);
  font-weight: bold;
  text-decoration: none;
  padding: .2em;
  border-bottom: .3em solid transparent;
}
.navbar a:hover {
  color: var(--main-text-color);
  padding: .2em;
  border-bottom: .3em solid var(--underline-color);
}

.bg-image {
  position: relative;
  z-index: -1000;
}
.bg-image__main {
  width: 100%;
}
.bg-image__mouse {
  position: absolute;
  width: 23%;
  top: 35%;
  left: 51.5%;
}
.bg-image__fish {
  position: absolute;
  width: 12%;
  top: 35%;
  left: 65%;
}
.bg-image__fruit-fly {
  position: absolute;
  width: 8%;
  top: 25%;
  left: 72%;
}
.bg-image__frog {
  position: absolute;
  width: 15%;
  top: 38%;
  left: 77%;
}

.cddrc-overview-card {
  top: 25%;
  left: 10%;
}

.overview-card {
  position: absolute;
  width: 33%;
  background-color: #fff;
  opacity: .9;
  padding: 1.5em;
}
.overview-card h1 {
  color: var(--main-text-color);
}

.small-card-list {
  display: flex;
}

.small-card {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #e76841;
  font-size: .8em;
  font-weight: bold;
}
.small-card a:visited {
  color: #e76841;
}

.mission-statement-overview {
  position: relative;
  height: 20em;
  background: linear-gradient(90deg, #6b249a, #971fb5); 
  z-index: -1000;
}
.mission-statement-overview:before {
  z-index: -1000;
  content: '';
  background: inherit; 
  display: block;
  height: 50%;
  top: -2em;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3.0deg);
  transform-origin: 100% 0;
  -webkit-backface-visibility: hidden; /* for Chrome Windows */
}
.mission-statement-overview__collage {
  position: absolute;
  top: -7em;
  left: 10em;
}
.mission-statement-overview__text {
  position: absolute;
  right: 15%;
  width: 33%;
  color: #f5e2fb;
  float: right;
}

.utah-overview {
  position: relative;
}
.utah-overview__collage {
  position: absolute;
  float: right;
  right: 10em;
  top: 4em;
}
.utah-overview__text {
  top: 4em;
  left: 10%;
}

.more-link {
  text-decoration: none;
  color: #52c3e7;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #ccc;
  position: absolute;
  right: 6em;
}
.more-link:visited {
  color: #52c3e7;
}
