body {
  font-family: Arial;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  min-width: 600px;
  /*max-width: 1080px;*/
}

.logo {
  margin-top: 2em;
  margin-left: 3em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  gap: 1em;
  margin-right: 6em;
}

.navbar a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.navbar a:hover {
  color: red;
  text-decoration: underline;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
}
.bg-image__main {
  width: 100%;
}
.bg-image__mouse {
  position: absolute;
  width: 23%;
  top: 35%;
  left: 51.5%;
}
.bg-image__fish {
  position: absolute;
  width: 12%;
  top: 35%;
  left: 65%;
}
.bg-image__fruit-fly {
  position: absolute;
  width: 8%;
  top: 25%;
  left: 72%;
}
.bg-image__frog {
  position: absolute;
  width: 20%;
  top: 38%;
  left: 75%;
}
