<div class='people-page'>
  <div class='investigators-section'>
    <h1>Investigators</h1>
    <div class='investigators-row'>
      {% for person in people %}
      <div class='person-card'>
        <div class='person-card__top'>
          <img class='person-card__portrait' src='/assets/portraits/{{person.portrait}}'/>
          <div class='person-card__name'>
            {{person.name}}
          </div>
        </div>
        <div class='person-card__bottom'>
          <div class='person-card__title'>
            {{person.title}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
