---
layout: main.liquid
---

<div class='cddrc-blog-content'>

<h2>CDDRC Blog Posts</h2>

  <ul>
    <li>
      <p>
        <a href='22-08-18_Data_Visualization/index.html'>The power of data visualization</a>
        </br>
        <em>Alistair Ward & Bradley Demarest</em>
        </br>
        18 August, 2022
      </p>
      <a href='22-08-18_Data_Visualization/index.html'><img src='../assets/blog/Mosaic_468R_highexpression_genes.png' alt="High expression genes" width="400"></a>
    </li>
    <li>
      <p>
        <a href='22-07-12_Website_Shoutout/index.html'>Shout-outs for the CDDRC Website</a>
        </br>
        <em>Barry Moore</em>
        </br>
        12 July, 2022
      </p>
      <a href='22-07-12_Website_Shoutout/index.html'><img src='../assets/blog/cddrc_logo.png' alt="CDDRC Logo" width="400" border=1px></a>
    </li>
  </ul>

</div>

<div class='card-section'>
</div>
