---
layout: main.liquid
---

<div class='cddrc-blog-content'>
  <p class='cddrc-blog-content__text'>

  <ul>
    <li>
      <a href='22-08-18_Data_Visualization.html'>The power of data visualization</a>
      <img>../assets/blog/shiny_468R_highexpression_genes.png</img>
    </li>
  </ul>

  </p>
</div>

<div class='card-section'>
</div>
