---
layout: main.liquid
---

<div class='cddrc-blog-content'>

<h2>CDDRC Blog Posts</h2>

<p>
  <a href='23-01-19_CDDRC_PAG/index.html'>CDDRC Floods The Plant and Animal Genome Conference (PAG30)</a>
  </br>
  <em>Alistair Ward & Carson Holt</em>
  </br>
  19 January, 2023
</p>
<a href='23-01-19_CDDRC_PAG/index.html'><img src='../assets/blog/pag_flood.jpg' alt="CDDRC floods PAG30" width="400"></a>

<hr>

<p>
_____________________
</p>

<p>
  <a href=' 22-10-19_CDDRC_Data_Support/index.html'>Mosaic provides data support for CDDRC</a>
  </br>
  <em>Alistair Ward</em>
  </br>
  19 October, 2022
</p>
<a href='22-10-19_CDDRC_Data_Support/index.html'><img src='../assets/blog/mosaic_samples_468r.png' alt="Samples for project 468R in Mosaic" width="400"></a>

<hr>

<p>
_____________________
</p>

<p>
  <a href='22-09-23_UCGD_CHPC_Resources/index.html'>UCGD Compute Infrastructure at the U of U CHPC</a>
  </br>
  <em>Carson Holt</em>
  </br>
  23 September, 2022
</p>
<a href='22-09-23_UCGD_CHPC_Resources/index.html'><img src='../assets/blog/ucgd_chpc_resources.png' alt="UCGD Compute Resources" width="400"></a>

<p>
_____________________
</p>

<p>
  <a href='22-08-18_Data_Visualization/index.html'>The power of data visualization</a>
  </br>
  <em>Alistair Ward & Bradley Demarest</em>
  </br>
  18 August, 2022
</p>
<a href='22-08-18_Data_Visualization/index.html'><img src='../assets/blog/Mosaic_468R_highexpression_genes.png' alt="High expression genes" width="400"></a>

<hr>

<p>
_____________________
</p>

<p>
  <a href='22-07-12_Website_Shoutout/index.html'>Shout-outs for the CDDRC Website</a>
  </br>
  <em>Barry Moore</em>
  </br>
  12 July, 2022
</p>
<a href='22-07-12_Website_Shoutout/index.html'><img src='../assets/blog/cddrc_logo.png' alt="CDDRC Logo" width="400" border=1px></a>

</div>

<div class='card-section'>
</div>
