---
layout: main.liquid
---

<div class='utilizing-cddrc-content'>
  <p class='utilizing-cddrc-content__text'>
    The primary tool for working with CDDRC data is an instance of
    Frameshift Mosaic, running at the University of Utah. Click the image
    below to access Mosaic:
  </p>

  <a target='_blank' href='https://cddrc.utah.edu'>
    <img class='utilizing-cddrc-content__mosaic-logo' src='https://s3.amazonaws.com/static.iobio.io/img/mosaic_logo.png' />
  </a>

</div>

<div class='card-section'>
</div>
