---
layout: main.liquid
---

<div class='cddrc-blog-content'>
  <h2>CDDRC Presents at the Plant and Animal Genomes Conference in San Diego</h2>
  <p class='cddrc-blog-content__text'>
  <em>Alistair Ward & Carson Holt, 19 January 2023</em>
  </p>
  <p class='cddrc-blog-content__text'>
      Carson Holt moderated a session at the recent Plant and Animal
      Genome Conference (PAG30) in San Diego focused on “Next generation
      genome annotation and analysis”. As part of this session, Alistair
      Ward gave a presentation on CDDRC, highlighting the power of the
      multi-omics data for cardiovascular research and the Mosaic visual
      genomics platform that is being extended to make this data accessible
      to the community of researchers.
  </p>

  <p class='cddrc-blog-content__text'>
      The conference occured during California's recent deluge of rain
      and stormy weather. So much rain fell that Carson was forced to
      wade through knee deep water to get from his hotel to the
      conference meeting rooms!
  </p>

  <img src='../../assets/blog/pag_flood.jpg' width=800></a>
  <p class='cddrc-blog-content__text'>
    <em>Figure 1.</em>View of the rising waters at PAG.
  </p>

</div>

<div class='card-section'>
</div>
