---
layout: main.liquid
---

<div class='cddrc-blog-content'>
  <h2>Shout-outs for the CDDRC Website</h2>
  <p class='cddrc-blog-content__text'>
  <em>Barry Moore, 12 July 2022</em>
  </p>

  <p class='cddrc-blog-content__text'>
  
    As the <a href="https://cddrc.org/">CDDRC website</a> comes alive
    we are happy to acknowledge the work of professional web designer
    <a href="https://www.linkedin.com/in/pixelcrane">Brett
    Thompson</a>, owner of
    <a href="https://www.pixelcrane.com/">Pixelcrane</a> for design of
    the site.  Brett had previously designed the website for the <a
    href="https://ucgd.genetics.utah.edu/">Utah Center for Genetic
    Discovery</a> and was familiar with our team and able to step
    right in to translate the vague ideas of a bunch of biologist and
    computer types into a vibrant design that we think reflects well
    on the CDDRC and our partners.  Thanks Brett!

  </p>

  <p class='cddrc-blog-content__text'>
  
    The design work by Brett was translated into HTML and CSS by our
    very own <a href="https://apitman.com/">Anders Pitman</a>.  Anders
    set us up with <a href="https://shopify.github.io/liquid/">Liquid
    HTML templates</a> and an <a href="https://www.11ty.dev/">11ty
    static website generation</a> framework and packaged the entire
    site up for us on <a
    href="https://github.com/CDDRC/cddrc.github.io">GitHub</a> making
    updates to the website a breeze!  If you have suggestions, find an
    issue or would like to contribute a blog post, don’t hesitate to
    <a href="https://github.com/CDDRC/cddrc.github.io/issues">log an
    issue</a> or send us a pull request!
    
  </p>

  <p class='cddrc-blog-content__text'>
    Also a big shout out to <a href="">Chase Miller</a> of <a href="">Frameshift Genomics</a> for
    coming up with the CDDRC Logo!
  </p>

  <img src="../../assets/blog/cddrc_logo.png" border=1px>

</div>

<div class='card-section'>
</div>
